// =============================================================================================================

.page {
   // .page__hero
   &__hero {
   }
   // .page__features
   &__features {
   }
   // .page__designing
   &__designing {
   }
   // .page__practice
   &__practice {
   }
   // .page__about
   &__about {
   }
   // .page__clients
   &__clients {
   }
   // .page__subscribe
   &__subscribe {
   }
   // .page__contact
   &__contact {
   }
   // .page__block-contact
   &__block-contact {
   }
}

// =============================================================================================================

.hero {
   position: relative;
   @media (max-width: $tablet) {
      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         background-color: #fff;
         opacity: 0.4;
         @media (max-width: $mobileSmall) {
            opacity: 0.8;
         }
      }
   }
   // .hero__container
   &__container {
      position: relative;
      z-index: 2;
   }
   // .hero__content
   &__content {
      min-height: 793px;
      max-width: 410px;
      padding-block: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 35px;
      @media (max-width: $mobileSmall) {
         min-height: 600px;
         max-width: 100%;
         padding-block: 65px;
         text-align: center;
         row-gap: 25px;
      }
   }
   // .hero__title
   &__title {
      font-size: 58px;
      font-weight: 800;
      color: $secondaryTextColor;
      line-height: 1.38;
      @media (max-width: $mobile) {
         font-size: 52px;
         line-height: 1.2;
      }
      @media (max-width: $mobileSmall) {
         font-size: 45px;
      }
      @media (max-width: 375px) {
         font-size: 40px;
      }
   }
   // .hero__text
   &__text {
      font-size: 20px;
      @media (max-width: $tablet) {
         color: $secondaryTextColor;
      }
      @media (max-width: $mobileSmall) {
         font-size: 18px;
      }
   }
   // .hero__actions
   &__actions {
      display: flex;
      column-gap: 10px;
      @media (max-width: $mobileSmall) {
         flex-direction: column;
         row-gap: 15px;
      }
   }
   // .hero__link
   &__link {
      padding: 9px 36px;
      border-radius: 37px;
      font-size: 14px;
      font-weight: 700;
      line-height: 2;
      color: $secondaryAccentColor;
      border: 1px solid $secondaryAccentColor;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.3s;
      &--accent {
         background-color: $accentColor;
         color: #fff;
         border-color: $accentColor;
      }
      @media (any-hover: hover) {
         &:hover {
            text-decoration-color: inherit;
         }
      }
   }
   // .hero__image
   &__image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: right;
   }
}

// =============================================================================================================

.features {
   position: relative;
   margin-top: -110px;
   padding-bottom: 40px;
   @media (max-width: $mobile) {
      padding-bottom: 30px;
   }
   @media (max-width: $mobileSmall) {
      margin-top: -40px;
   }
   // .features__container
   &__container {
   }
   // .features__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      @media (max-width: $mobile) {
         gap: 15px;
      }
   }
   // .features__item
   &__item {
      flex: 1 1 328px;
      padding: 35px 40px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
      background-color: #fff;
      &--text-white {
         background-color: $secondaryAccentColor;
         color: #fff;
      }
      @media (max-width: $mobile) {
         text-align: center;
         padding: 18px 20px;
         gap: 5px;
      }
   }
   // .features__image
   &__image {
      width: 48px;
      height: 48px;
      object-fit: contain;
      @media (max-width: $mobile) {
         margin: 0 auto;
      }
   }
   // .features__title
   &__title {
      font-size: 24px;
      font-weight: 700;
      color: $secondaryTextColor;
      line-height: 1.34;
      .features__item--text-white & {
         color: inherit;
      }
      @media (max-width: $mobile) {
         font-size: 20px;
      }
   }
   // .features__text
   &__text {
   }
}

// =============================================================================================================

.designing {
   padding: 40px 0 80px;
   @media (max-width: $tablet) {
      padding: 40px 0;
   }
   @media (max-width: $mobile) {
      padding: 30px 0;
   }
   // .designing__container
   &__container {
   }
   // .designing__top
   &__top {
      &:not(:last-child) {
         margin-bottom: 50px;
         @media (max-width: $tablet) {
            margin-bottom: 30px;
         }
      }
   }
   // .designing__items
   &__items {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 30px;
      justify-content: center;
      @media (max-width: $pc) {
         gap: 30px;
      }
      @media (max-width: $mobile) {
         gap: 15px;
      }
   }
   // .designing__item
   &__item {
      flex: 0 1 230px;
      display: grid;
      gap: 10px;
      justify-items: center;
      text-align: center;
      padding: 30px 28px;
      background-color: #fff;
      font-weight: 700;
      @media (max-width: $mobile) {
         padding: 15px;
         gap: 5px;
      }
      @media (max-width: 600px) {
         flex: 1 1 230px;
      }
   }
   // .designing__icon
   &__icon {
      width: 48px;
      height: 48px;
      object-fit: contain;
   }
   // .designing__num
   &__num {
      font-size: 40px;
      color: $secondaryTextColor;
      @media (max-width: $mobile) {
         font-size: 30px;
      }
      @media (max-width: $mobileSmall) {
         font-size: 25px;
      }
   }
   // .designing__title
   &__title {
      font-size: 16px;
   }
}

// =============================================================================================================

.practice {
   padding: 80px 0;
   @media (max-width: $pc) {
      padding: 40px 0 80px;
   }
   @media (max-width: $tablet) {
      padding: 40px 0;
   }
   @media (max-width: $mobile) {
      padding: 30px 0;
   }
   // .practice__container
   &__container {
   }
   // .practice__top
   &__top {
      &:not(:last-child) {
         margin-bottom: 45px;
      }
   }
   // .practice__items
   &__items {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 30px;
      justify-content: center;
      @media (max-width: $pc) {
         gap: 30px;
      }
      @media (max-width: $mobile) {
         gap: 15px;
      }
   }
   // .practice__item
   &__item {
      flex: 0 1 230px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      @media (max-width: 600px) {
         flex: 1 1 230px;
      }
      @media (max-width: 430px) {
         margin: 0 -15px;
      }
   }
   // .practice__content
   &__content {
      flex-grow: 1;
      padding: 30px;
      @media (max-width: $mobile) {
         padding: 15px;
      }
   }
   // .practice__link
   &__link {
      width: 100%;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.3s;
      overflow: hidden;
      &:not(:last-child) {
         margin-bottom: 15px;
         @media (max-width: $mobile) {
            margin-bottom: 8px;
         }
      }
      @media (any-hover: hover) {
         &:hover {
            text-decoration-color: inherit;
         }
      }
   }
   // .practice__title
   &__title {
      font-size: 16px;
      font-weight: 700;
      color: $secondaryTextColor;
   }
   // .practice__text
   &__text {
   }
   // .practice__image
   &__image {
      width: 100%;
      height: 138px;
      object-fit: cover;
      transition: transform 0.3s;
      @media (any-hover: hover) {
         .practice__link:hover & {
            transform: scale(1.03);
         }
      }
   }
}

// =============================================================================================================

.about {
   padding: 80px 0;
   background-image: url("../img/about/bg.webp");
   background-repeat: no-repeat;
   background-size: cover;
   @media (max-width: $tablet) {
      padding: 50px 0;
   }
   @media (max-width: $mobile) {
      padding: 30px 0;
   }
   // .about__container
   &__container {
   }
   // .about__top
   &__top {
      &:not(:last-child) {
         margin-bottom: 80px;
         @media (max-width: $pc) {
            margin-bottom: 50px;
         }
         @media (max-width: $tablet) {
            margin-bottom: 35px;
         }
         @media (max-width: $mobileSmall) {
            margin-bottom: 25px;
         }
      }
   }
   // .about__wrapper
   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 40px;
      @media (max-width: $tablet) {
         column-gap: 30px;
      }
      @media (max-width: $mobile) {
         flex-direction: column;
         row-gap: 30px;
      }
      @media (max-width: $mobileSmall) {
         row-gap: 20px;
      }
   }
   // .about__video
   &__video {
      position: relative;
      flex: 0 1 600px;
      aspect-ratio: 600 / 442;
      overflow: hidden;
      @media (max-width: $mobile) {
         flex: 0 1 auto;
         max-width: 450px;
      }
      @media (max-width: 430px) {
         margin: 0 -15px;
      }
   }
   // .about__image
   &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s;
      @media (any-hover: hover) {
         .about__video:hover & {
            transform: scale(1.03);
         }
      }
   }
   // .about__button
   &__button {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 98px;
      height: 98px;
      border-radius: 50%;
      background-color: $secondaryAccentColor;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.5s;
      &::after {
         content: "";
         width: 24px;
         height: 29px;
         background: url("../img/icons/play.svg") 0 0 / contain no-repeat;
         @media (max-width: $tablet) {
            width: 15px;
            height: 18px;
         }
      }
      @media (any-hover: hover) {
         .about__video:hover & {
            background-color: $accentColor;
         }
      }
      @media (max-width: $tablet) {
         width: 60px;
         height: 60px;
      }
   }
   // .about__content
   &__content {
      flex: 0 0 335px;
      @media (max-width: $mobile) {
         flex: 0 1 auto;
      }
   }
   // .about__top-content
   &__top-content {
      text-align: left;
      &:not(:last-child) {
         margin-bottom: 50px;
         @media (max-width: $tablet) {
            margin-bottom: 25px;
         }
         @media (max-width: $mobileSmall) {
            margin-bottom: 15px;
         }
      }
      @media (max-width: $mobile) {
         text-align: center;
      }
   }
   // .about__list
   &__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media (max-width: $mobile) {
         align-items: center;
         gap: 15px;
      }
   }
   // .about__item
   &__item {
      display: flex;
      align-items: flex-start;
      column-gap: 20px;
      &::before {
         width: 32px;
         height: 32px;
         object-fit: contain;
      }
      &:nth-child(odd)::before {
         content: url("../img/icons/people.svg");
      }
      &:nth-child(even):before {
         content: url("../img/icons/speed.svg");
      }
   }
   // .about__box
   &__box {
   }
   // .about__title
   &__title {
      font-size: 16px;
      font-weight: 700;
      color: $secondaryTextColor;
      &:not(:last-child) {
         margin-bottom: 5px;
      }
   }
   // .about__text
   &__text {
      font-weight: 600;
   }
}

// =============================================================================================================

.clients {
   padding: 115px 0;
   @media (max-width: $pc) {
      padding: 80px 0;
   }
   @media (max-width: $tablet) {
      padding: 60px 0;
   }
   @media (max-width: $mobile) {
      padding: 40px 0;
   }
   @media (max-width: $mobileSmall) {
      padding: 30px 0;
   }
   // .clients__container
   &__container {
   }
   // .clients__list
   &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      @media (max-width: $mobile) {
         flex-wrap: wrap;
         justify-content: center;
      }
   }
   // .clients__item
   &__item {
      flex: 0 1 151px;
      text-align: center;
      @media (max-width: $mobileSmall) {
         flex: 0 1 100px;
      }
   }
   // .clients__image
   &__image {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
   }
}

// =============================================================================================================

.subscribe {
   padding: 20px 0;
   background: linear-gradient(0deg, rgba(37, 43, 66, 1) 50%, rgba(250, 250, 250, 1) 50%);
   // .subscribe__container
   &__container {
      @media (max-width: $mobile) {
         margin: 0 -15px;
      }
   }
   // .subscribe__content
   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 50px;
      max-width: 986px;
      margin: 0 auto;
      padding: 30px 40px 30px 50px;
      background-color: #17213c;
      @media (max-width: $tablet) {
         flex-direction: column;
         row-gap: 25px;
      }
      @media (max-width: $mobile) {
         padding: 30px 10px;
      }
      @media (max-width: $mobileSmall) {
         row-gap: 15px;
      }
   }
   // .subscribe__title
   &__title {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      @media (max-width: $tablet) {
         text-align: center;
      }
      @media (max-width: $mobileSmall) {
         font-size: 20px;
      }
   }
   // .subscribe__form
   &__form {
      position: relative;
      flex: 0 0 450px;
      display: flex;
      @media (max-width: $tablet) {
         flex: 0 0 auto;
         width: 70%;
      }
      @media (max-width: 600px) {
         width: 100%;
      }
      @media (max-width: $mobileSmall) {
         flex-direction: column;
         row-gap: 5px;
      }
   }
   // .subscribe__input
   &__input {
      width: 100%;
      min-height: 58px;
      padding: 15px 135px 15px 20px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      font-weight: 600;
      &::placeholder {
         font-weight: 400;
         @media (max-width: $mobileSmall) {
            text-align: center;
         }
      }
      @media (max-width: $mobileSmall) {
         padding: 15px;
         text-align: center;
      }
   }
   // .subscribe__button
   &__button {
      position: absolute;
      top: 1px;
      right: 1px;
      padding: 14px 22.5px;
      background-color: $accentColor;
      color: #fff;
      font-weight: 400;
      line-height: 2;
      border-left: 1px solid #e6e6e6;
      border-radius: 0 5px 5px 0;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            text-decoration-color: inherit;
         }
      }
      @media (max-width: $mobileSmall) {
         position: relative;
         border-radius: 5px;
         border-left: none;
         font-size: 16px;
      }
   }
}

// =============================================================================================================

.contact {
   padding: 80px 0 140px;
   @media (max-width: $pc) {
      padding: 80px 0;
   }
   @media (max-width: $mobile) {
      padding: 50px 0;
   }
   @media (max-width: $mobileSmall) {
      padding: 40px 0;
   }
   // .contact__container
   &__container {
   }
   // .contact__top
   &__top {
      &:not(:last-child) {
         margin-bottom: 80px;
         @media (max-width: $tablet) {
            margin-bottom: 40px;
         }
         @media (max-width: $mobile) {
            margin-bottom: 30px;
         }
      }
   }
   // .contact__items
   &__items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      @media (max-width: 600px) {
         margin: 0 -15px;
      }
   }
   // .contact__item
   &__item {
      flex: 1 1 328px;
   }
}

.item-contact {
   padding: 50px;
   background-color: #fff;
   display: grid;
   justify-items: center;
   gap: 15px;
   text-align: center;
   color: $secondaryTextColor;
   @media (max-width: $mobile) {
      padding: 35px 15px;
   }
   @media (max-width: $mobileSmall) {
      padding: 20px 15px;
      gap: 8px;
   }
   &--large {
      padding: 80px 50px;
      background-color: $secondaryTextColor;
      color: #fff;
      @media (max-width: $pc) {
         padding: 50px;
      }
      @media (max-width: $mobile) {
         padding: 35px 15px;
      }
      @media (max-width: $mobileSmall) {
         padding: 20px 15px;
      }
   }
   // .item-contact__icon
   &__icon {
      width: 72px;
      height: 72px;
      object-fit: contain;
      @media (max-width: $mobile) {
         width: 55px;
         height: 55px;
      }
   }
   // .item-contact__links
   &__links {
      display: flex;
      flex-direction: column;
   }
   // .item-contact__link
   &__link {
      line-height: 1.71;
      font-weight: 600;
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
   // .item-contact__label
   &__label {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700;
   }
   // .item-contact__button
   &__button {
      padding: 10px 20px;
      border-radius: 5px;
      line-height: 1.71;
      font-weight: 600;
      color: $accentColor;
      border: 1px solid $accentColor;
      transition: all 0.3s;
      .item-contact--large & {
         color: #fff;
         border-color: #fff;
      }
      @media (any-hover: hover) {
         &:hover {
            background-color: $accentColor;
            color: #fff;
            border-color: $accentColor;
         }
      }
   }
}

// =============================================================================================================

.block-contact {
   padding: 40px 0;
   background-color: #fff;
   @media (max-width: $mobileSmall) {
      padding: 30px 0;
   }
   // .block-contact__container
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;
      @media (max-width: 600px) {
         flex-direction: column;
         align-items: center;
         gap: 25px;
      }
   }
   // .block-contact__top
   &__top {
      text-align: left;
      .top__title {
         font-size: 24px;
         @media (max-width: $mobileSmall) {
            font-size: 22px;
         }
      }
      .top__text {
         margin: 0;
      }
      @media (max-width: 600px) {
         text-align: center;
      }
   }
   // .block-contact__link
   &__link {
      flex-shrink: 0;
      padding: 14px 40px;
      background-color: $accentColor;
      color: #fff;
      font-weight: 700;
      line-height: 2;
      border-radius: 5px;
      border: 1px solid $accentColor;
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $accentColor;
            background-color: #fff;
         }
      }
      @media (max-width: $mobileSmall) {
         width: 100%;
         text-align: center;
      }
   }
}
