// =============================================================================================================

.page {
   // .page__hero
   &__hero {
   }
   // .page__features
   &__features {
   }
}

// =============================================================================================================

.hero {
   position: relative;
   @media (max-width: $tablet) {
      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         background-color: #fff;
         opacity: 0.4;
         @media (max-width: $mobileSmall) {
            opacity: 0.8;
         }
      }
   }
   // .hero__container
   &__container {
      position: relative;
      z-index: 2;
   }
   // .hero__content
   &__content {
      min-height: 793px;
      max-width: 410px;
      padding-block: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 35px;
      @media (max-width: $mobileSmall) {
         min-height: 600px;
         max-width: 100%;
         padding-block: 65px;
         text-align: center;
         row-gap: 25px;
      }
   }
   // .hero__title
   &__title {
      font-size: 58px;
      font-weight: 800;
      color: $secondaryTextColor;
      line-height: 1.38;
      @media (max-width: $mobile) {
         font-size: 52px;
         line-height: 1.2;
      }
      @media (max-width: $mobileSmall) {
         font-size: 45px;
      }
      @media (max-width: 375px) {
         font-size: 40px;
      }
   }
   // .hero__text
   &__text {
      font-size: 20px;
      @media (max-width: $tablet) {
         color: $secondaryTextColor;
      }
      @media (max-width: $mobileSmall) {
         font-size: 18px;
      }
   }
   // .hero__actions
   &__actions {
      display: flex;
      column-gap: 10px;
      @media (max-width: $mobileSmall) {
         flex-direction: column;
         row-gap: 15px;
      }
   }
   // .hero__link
   &__link {
      padding: 9px 36px;
      border-radius: 37px;
      font-size: 14px;
      font-weight: 700;
      line-height: 2;
      color: $secondaryAccentColor;
      border: 1px solid $secondaryAccentColor;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.3s;
      &--accent {
         background-color: $accentColor;
         color: #fff;
         border-color: $accentColor;
      }
      @media (any-hover: hover) {
         &:hover {
            text-decoration-color: inherit;
         }
      }
   }
   // .hero__image
   &__image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: right;
   }
}

// =============================================================================================================

.features {
   position: relative;
   margin-top: -110px;
   padding-bottom: 40px;
   @media (max-width: $mobileSmall) {
      margin-top: -40px;
      padding-bottom: 30px;
   }
   // .features__container
   &__container {
   }
   // .features__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      @media (max-width: $mobile) {
         gap: 15px;
      }
   }
   // .features__item
   &__item {
      flex: 1 1 328px;
      padding: 35px 40px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
      background-color: #fff;
      &--text-white {
         background-color: $secondaryAccentColor;
         color: #fff;
      }
      @media (max-width: $mobile) {
         text-align: center;
         padding: 18px 20px;
         gap: 5px;
      }
   }
   // .features__image
   &__image {
      width: 48px;
      height: 48px;
      object-fit: contain;
      @media (max-width: $mobile) {
         margin: 0 auto;
      }
   }
   // .features__title
   &__title {
      font-size: 24px;
      font-weight: 700;
      color: $secondaryTextColor;
      line-height: 1.34;
      .features__item--text-white & {
         color: inherit;
      }
      @media (max-width: $mobile) {
         font-size: 20px;
      }
   }
   // .features__text
   &__text {
   }
}

// =============================================================================================================
