// Colors
$mainTextColor: #737373;
$secondaryTextColor: #252b42;
$accentColor: #ff7b47;
$secondaryAccentColor: #0d5c63;
// $mainBgColor: #065986;
// $secondaryBgColor: #0086c9;

// Breakpoints
$pc: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileMedium: 574.98px;
$mobileSmall: 479.98px;
